!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2
      Вы выразили желание приобрести запись семинара психолога Татьяны Вакульчик:
      %u
        = $event_name
    %p
      После оплаты семинара отправьте номер назначения платежа (8 цифр) на e-mail
      %b
        Bereg.Beseda@ukr.net
    %p
      В ответном сообщении Вам придет адрес для скачивания семинара.
      Если Вы не видите номер назначения платежа после совершения оплаты, то проследуйте по
      %a{href: 'http://psysite.herokuapp.com/buyers'}
        этой ссылке
    %i
      Счастливо и до встречи

