#main_content.row-fluid

  - if @menu_up_item == 'menus_main' or @menu_up_item == 'menus' or @menu_up_item == 'bio' 
    = image_tag 'psychologist.png', alt: 'Фото психолога', class: 'span4' ' offset2', id: 'psychologist', title: 'Психолог', alt: 'Психолог : <<Приглашаю присесть рядом>>'
  
    - if @menu_up_item == 'menus_main'
      #button_and_menu.span6.offset5
        =yield

    - if @menu_up_item != 'menus_main'
      #button_and_menu.span6.offset6
        =yield        

  - else

    #button_and_menu.span12
      =yield        
  

    -##button_and_menu.span5
        

