#top_field {
  color: $form_text_dark;
  width: 98%;
  height: auto;
  border: 1px ridge rgba(40, 136, 215, 0.5);

  display: inline-block;
  margin: 6px 0;
  text-align: justify;
  font-size: 140%;
  text-shadow: 1px 1px 1px white;
  background-color: rgba(255, 225, 80, 0.25);
  padding: 4px 4px;

  box-shadow: 0 0 9px $blue_shadow;
  border-radius: 4px;
  margin-bottom: 10px;
}

.second_string {
  color:$half_white;
}

INPUT:-moz-placeholder {
  color: $form_text;
}

INPUT::-moz-placeholder {
  color: $form_text;
}

INPUT::-webkit-input-placeholder {
  color: $form_text;
}

#redex {
  resize: none;
}


#errors_style {
  color: $error_pink;
  display: inline-block;
  font-size: 130%;
  font-weight: 700;
  text-shadow: 3px 3px 3px white;
  padding: 6px 0 0 0;
  margin-bottom: 2px;
  LI {
    margin-left: 17px;
    padding-bottom: 5px;
  }
}

.errors_field {
  border: red !important;
  box-shadow: 0 0 9px $error_pink !important;
}