.k

  #menu.white_text_shadow
    .row-fluid
      .span6
        .menu_vars
          = link_to posts_path do

            %p
              ■
              %b.underline
                Позна&shy;комиться
              со стать&shy;ями и замет&shy;ками, с моим твор&shy;чест&shy;вом и профес&shy;сиональ&shy;ной дея&shy;тель&shy;ностью

      .span6
        .menu_vars
          = link_to products_path do

            %p
              ■
              %b.underline
                Приоб&shy;рести
              видео&shy;запись семи&shy;нара

        .menu_vars
          = link_to pers_path do

            %p
              ■
              %b.underline
                Прокон&shy;суль&shy;тиро&shy;ваться
              с&nbsp;психо&shy;ло&shy;гом по Skype


