.k

  #menu.white_text_shadow
    = link_to posts_path do
      .menu_vars

        %p
          %b
            Статьи и заметки
          %br/
          Позна&shy;комь&shy;тесь бли&shy;же с моими твор&shy;чест&shy;вом и профес&shy;сиональ&shy;ной дея&shy;тель&shy;ностью



    = link_to pers_path do
      .menu_vars

        %p
          %b
            Личная консуль&shy;тация с&nbsp;психо&shy;логом
          по Skype



    = link_to products_path do
      .menu_vars

        %p
          %b
            Приоб&shy;рести видео&shy;запись семи&shy;нара