.k

  #menu.white_text_shadow
    .menu_vars
      = link_to posts_path do

        %p
          %b.underline
            Позна&shy;комиться
          %b
            со стать&shy;ями и замет&shy;ками,
          %br/
          с моим твор&shy;чест&shy;вом и профес&shy;сиональ&shy;ной дея&shy;тель&shy;ностью


    .menu_vars
      = link_to pers_path do

        %p
          %b.underline
            Прокон&shy;суль&shy;тиро&shy;ваться
          %b
            с&nbsp;психо&shy;ло&shy;гом
          по Skype


    .menu_vars
      = link_to products_path do

        %p
          %b.underline
            Приоб&shy;рести
          %b
            видео&shy;запись семи&shy;нара
