.k

  #menu.white_text_shadow
    .menu_vars
      = link_to posts_path do

        %p
          %b.underline
            Позна&shy;комиться со статьями и заметками,
          %br/
          с моими твор&shy;чест&shy;вом и профес&shy;сиональ&shy;ной дея&shy;тель&shy;ностью


    .menu_vars
      = link_to pers_path do

        %p
          %b.underline
            Прокон&shy;суль&shy;тиро&shy;ваться с&nbsp;психо&shy;логом
          по Skype


    .menu_vars
      = link_to products_path do

        %p
          %b.underline
            Приоб&shy;рести видео&shy;запись семи&shy;нара
