- @menu_up_item = 'menus_main'

- @prerender = 'http://www.psysite.herokuapp.com/menus/1'

- @title='Ощутить счастье'
- @keys='Умиротворение, доброжелательность, подавленность, чувство пустоты, психолог, хочется любви, тепла, сигарета, утешение, полнота, энергия'
- @descr_head='Боль одиночества, внутренней пустоты и обиды мешает работать, верить в счастье, требует утешения едой, сигаретой. И хочется быть любимым, любить'

- @descr_body='Чувство подавленности, дискомфорта, заторможенности, пустоты, неудовлетворенности от пустых взаимоотношений. Хочется радости, безопасности, тепла'
- @h1='Психолог по Skype и E-mail - Хочется почувствовать радость, любовь, доброжелательность, тепло, стать счастливым, как стать счастливой, хочу любви, психолог онлайн, психолог по скайп, по скайпу, психолог по имеил, email, e-mail, и-меил, когда я стану счастливой, как стать богатой, стать богатым, чувствую разочарование, мечтаю о свадьбе, хочу жениться, постоянно хочу есть, хочу повесится, как дальше жить, прости меня, как простить, ненавижу отца, ненавижу мать, ненавижу его, стать успешной, успешным, найти себя, найти цель, смысл жизни, нет смысла, как простить, кто виноват, зачем жить, как влюбиться, куда пойти, куда податься, кто я, зачем я пришел, в чем смысл, я много ем, где счастье, как жить, как делаше жить, жить, живи, не живу, живу, жить лучше, какое жив, тяжело, тяжело жить, не хочется жить, хочу уйти, как быть, надежда, надеятся, пережить потерю, пройти это, '

#main_block
  
  = flash[:my_product_check]
   
  #top_field
    #the_first_paragraph{style: 'margin: 8px; padding: 0;'}
      ■ Здравст&shy;вуйте. Я психо&shy;лог Татьяна Вакульчик.
    #the_second_paragraph
      Мне #{(((Time.now-Time.gm(1968,11,7)).to_f)/60/60/24/365.26).to_i} лет, я люблю жизнь, людей и свою страну


  #title_text

  - @menus.each do |menu|
    = link_to "case/#{menu.id}" do
      %div{id: menu.name}




