- if @menu.id == 1
  - @title='Личная жизнь'
  - @keys='Чувство разочарования, одиночество, душа болит, неудовлетворенность, пустые взаимоотношения, психолог, хочется комфорта, удовольствие, близкие отношения'
  - @descr_head='Душа болит от чувств разочарования, обиды, безысходности, внутренней пустоты и тревоги. Будущее пугает одиночеством. В близкие отношения не верится'

  - @descr_body='Чувство одиночества, обиды, безысходности. Неудовлетворенность от пустых взаимоотношений. Хочется ощущения полноты и удовлетворения'
  - @h1='Психолог по Skype и E-mail - Хочется почувствовать удовлетворение, комфорт, близость, тепло, ощутить жизнь'

- if @menu.id == 2
  - @title='Стать более продуктивным'
  - @keys='Ощущение апатии, равнодушие, пропал интерес, раздражение, психолог, хочется доброжелательности, энергия, интерес, радость, погруженность, уют, тепло, силы'
  - @descr_head='Пропал интерес к работе. Подавленность, апатия, заторможенность, нет сил сосредоточиться и начать дело. Не хочется работать'

  - @descr_body='Апатия, потеря чувств. Не хочется читать, работать. Равнодушие, раздражение. Хочется удовольствия, энергии, интереса, погруженности, радости'
  - @h1='Психолог по Skype и E-mail - Хочется ощутить удовольствие, интерес, энергию, доброжелательность, тепло, стать продуктивнее'

- if @menu.id == 3
  - @title='Избавиться от привычки курить, переедать и т.п.'
  - @keys='Чувство пустоты, второсортность, задерганность, самообман, безысходность, еда, выпить, закурить, психолог, хочется принятия, эмоции, уверенность, внимание, любовь'
  - @descr_head='Внутренняя задерганность требует утешения едой. Еда, вместо внимания и любви, заполняет пустоту жизни. Как начать жить без самообмана?'

  - @descr_body='Желание принимать пищу, выпить, закурить. Чувство пустоты, подавленности, второсортности. Хочется уверенности, безопасности, покоя, счастья'
  - @h1='Психолог по Skype и E-mail - Хочется почувствовать уверенность, принятие, тепло, любовь, безопасность, счастье, избавиться от нежелательных привычек'

#block

  - $addresser ||= Client.new
  = render partial: 'layouts/content/form3'

  = image_tag('products/separator.png', alt: '--------------------', id: 'separator')

  #menu_description
    = @menu.description.html_safe
