%meta{content: "Хочу почувствовать счастье", name: "application-name"}/
%meta{content: "#95dd23", name: "msapplication-TileColor"}/
%meta{content: "preview/tiny.png", name: "msapplication-square70x70logo"}/
%meta{content: "preview/square.png", name: "msapplication-square150x150logo"}/
%meta{content: "preview/wide.png", name: "msapplication-wide310x150logo"}/
%meta{content: "preview/large.png", name: "msapplication-square310x310logo"}/