!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to example.com, #{@buyer.name}
    %p Thanks for joining and have a great day!
    = link_to 'Ссылка для оплаты', @akey_link
