%form#payment{:action => "https://sci.interkassa.com/", :enctype => "utf-8", :method => "post", :name => "payment"}
  %input{:name => "ik_co_id", :type => "hidden", :value => "52ebcda5bf4efcf93108363c"}/
  %input{:name => "ik_pm_no", :type => "hidden", :value => "ID_001"}/
  %input{:name => "ik_am", :type => "hidden", :value => "#{@sum}"}/
  %input{:name => "ik_cur", :type => "hidden", :value => "UAH"}/
  %input{:name => "ik_desc", :type => "hidden", :value => "PayWays"}/
  %input{:name => "ik_suc_u", :type => "hidden", :value => "http://psysite.herokuapp.com/pay/success/"}/
  %input{:name => "ik_suc_m", :type => "hidden", :value => "post"}/
  %input{:name => "ik_fal_u", :type => "hidden", :value => "http://psysite.herokuapp.com/pay/fail/"}/
  %input{:name => "ik_fal_m", :type => "hidden", :value => "post"}/
  %input{:name => "ik_pnd_u", :type => "hidden", :value => "http://psysite.herokuapp.com/"}/
  %input{:name => "ik_exp", :type => "hidden", :value => "2015-07-30"}/
  %br/
  .label_words{style: 'text-align: center !important; color: #175717 !important;'}
    Чтобы перейти на страницу оплаты, 
  .label_words{style: 'text-align: center !important; color: #175717 !important;'}  
    введите свое имя:
  %br/
  %br/
  :css
    .pay_form_label:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(197, 175, 54, 0.6) !important;
    }
  %input{:name => "ik_x_name", :type => "text", :value => "", class: 'input-address' ' input-xlarge' ' my-input-xlarge pay_form_label ', style: 'background-color: #fff6d9 !important; border-color: #dbc270; width: 97% !important; color: #175717 !important; text-align: center !important;'}/  
  %br/  
  %div{style: 'text-align: center;'} 
    %input{:type => "submit", :value => "OK", class: ' btn-success ' ' btn ' ' btn-large ' ' my-btn ' ' my-btn-large ', style: 'max-width: 300px;'}/  
  
  


