#table_clients
  = link_to menus_path do
    %table.bordered
      %thead
        %tr
          %th #
          %th IMDB Top 10 Movies
          %th Year
      %tr
        %td
          0:00
          .table_number_select
            ВЫБРАТЬ
        %td
          8:00
          .table_number_select
            ВЫБРАТЬ
        %td
          16:00
          .table_number_select
            ВЫБРАТЬ

      %tr
        %td
          1:00
          .table_number_select
            ВЫБРАТЬ
        %td
          9:00
          .table_number_select
            ВЫБРАТЬ
        %td
          17:00
          .table_number_select
            ВЫБРАТЬ
      %tr
        %td
          2:00
          .table_number_select
            ВЫБРАТЬ
        %td
          10:00
          .table_number_select
            ВЫБРАТЬ
        %td
          18:00
          .table_number_select
            ВЫБРАТЬ
      %tr
        %td
          3:00
          .table_number_select
            ВЫБРАТЬ
        %td
          11:00
          .table_number_select
            ВЫБРАТЬ
        %td
          19:00
          .table_number_select
            ВЫБРАТЬ
      %tr
        %td
          4:00
          .table_number_select
            ВЫБРАТЬ
        %td
          12:00
          .table_number_select
            ВЫБРАТЬ
        %td
          20:00
          .table_number_select
            ВЫБРАТЬ
      %tr
        %td
          5:00
          .table_number_select
            ВЫБРАТЬ
        %td
          13:00
          .table_number_select
            ВЫБРАТЬ
        %td
          21:00
          .table_number_select
            ВЫБРАТЬ
      %tr
        %td
          6:00
          .table_number_select
            ВЫБРАТЬ
        %td
          14:00
          .table_number_select
            ВЫБРАТЬ
        %td
          22:00
          .table_number_select
            ВЫБРАТЬ
      %tr
        %td
          7:00
          .table_number_select
            ВЫБРАТЬ
        %td
          15:00
          .table_number_select
            ВЫБРАТЬ
        %td
          23:00
          .table_number_select
            ВЫБРАТЬ
