-# VIEW TEST page

#block
  .k
    .email_fond
      .email
        .email_top_field
          %p
            Доброго времени суток,
            @order.news_email_name
            Вы выразили желание проконсультироваться со мной (психолог Татьяна Вакульчик).
            
            После оплаты консультации
            заполните форму
            = link_to "#" do
              по этому адресу

            Если Вы только собираетесь оплатить консультацию (или не знаете, как это сделать), то пройдите на
            = link_to "#" do
              эту страницу


