#top_field
  -##the_first_paragraph{style: 'margin: 8px; padding: 0;'}
    ■ Здравст&shy;вуйте. Я психо&shy;лог Татьяна Вакульчик.
  -##the_second_paragraph
    Мне #{(((Time.now-Time.gm(1968,11,7)).to_f)/60/60/24/365.26).to_i} лет, я люблю жизнь, людей и свою страну
.big_bold_color{style: 'font-size:140%; line-height:110%;'}
  %p
    Здравст&shy;вуйте. Я психо&shy;лог Татьяна Вакульчик. Мне #{(((Time.now-Time.gm(1968,11,7)).to_f)/60/60/24/365.26).to_i} лет, я люблю жизнь, людей и свою страну

-#.k
  .big_bold_color
    %b
      Я Вас люблю!!!
  %ul
    %li
      Опа
    %li
      Па
    = image_tag 'apple.jpeg', id: 'instruction_img_1', alt: '#'
