#block

  = render partial: 'layouts/clients/selects'

  = render partial: 'layouts/clients/table_number'

  .menu_up{style: 'float: left; padding-top: 10px;'}

    %ul
      %li
        = link_to menus_path do
          %p
            = image_tag 'fond/square.png'
            На главную
