#block

  #top_field
    %p
      Вы отправили мне своё сообщение, и в ближайшее время я свяжусь с Вами, чтобы мы вместе обсудили детали консультации.

    .menu_up{style: 'float: left; padding-top: 10px;'}
      %ul
        %li
          = link_to menus_path do
            %p
              = image_tag 'fond/square.png'
              На главную
