.k
  = render partial: 'layouts/menu_up'

  #menu
    .menu_vars
      = link_to pers_path do
        %p
          %b
            Личная консуль&shy;тация с&nbsp;психо&shy;логом
          (Skype, E-mail и т.д.- на Ваше усмот&shy;ре&shy;ние)

    .menu_vars
      = link_to posts_path do
        %p
          %b
            Принять учас&shy;тие в&nbsp;Веби&shy;наре
            (онлайн-семи&shy;наре)
    .menu_vars
      = link_to products_path do
        %p
          %b
            Приоб&shy;рести запись семи&shy;нара