.k
  = render partial: 'layouts/menu_up'

  #menu
    = link_to pers_path do
      .menu_vars

        %p
          %b
            Личная консуль&shy;тация с&nbsp;психо&shy;логом
          (Skype, E-mail и т.д.- на Ваше усмот&shy;ре&shy;ние)

    = link_to posts_path do
      .menu_vars

        %p
          %b
            Позна&shy;комь&shy;тесь бли&shy;же с моими твор&shy;чест&shy;вом и профес&shy;сиональ&shy;ной дея&shy;тель&shy;ностью
          %br/
          (статьи, заметки...)

    = link_to products_path do
      .menu_vars

        %p
          %b
            Приоб&shy;рести запись семи&shy;нара