.menu_up {
  display: block;
  text-align: center;
  UL {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  LI {
    display: inline-block;
    margin-right: 8px;
    font-size: 110%;
  }
  A {
    color: $link_dark_green;
    display: inline-block;
    text-decoration: none !important;
    @include transition(color);
    @include transition(text-shadow);  
    @include transition(text-decoration);  
    
    &:hover {
      color: $light_brown;
      text-shadow: 2px 2px 1px white, 0 0 1em white;
      text-decoration: underline !important;
    }
    &:active, &:focus {
      color: $dark_brown;
    }
  }
  IMG {
    width: 16px;
    height: auto;
    padding-bottom: 2px;
    opacity: .9;
  }
}

.menu_up_square_img {
  width: 16px;
  height: auto;
  padding-bottom: 2px;
  opacity: .9;
}

.icon_opacity {
  opacity: .9;
}

.float_left {
  float: left;
}
