#footer_rights {
  /*color: #c06142; */
  color: white;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  @include transition_color;
  margin-bottom: 20px;
  &:hover {
    color: $dark_blue_spring;
  }
  &:hover A {
    color: $dark_blue_spring;
  }
}

#footer_link {
  color: white;
  text-decoration: underline !important;
  &:hover {
    text-decoration: none !important;
  }
}
