#footer_rights {
  /*color: #c06142; */
  color: $light_sky_blue;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px #FFF, 0px 0px 1em #FFF;
  /*@include transition(color);
  @include transition(font-weight);*/
  @include transition(text-shadow);
  
  A {
    color: $middle_sky_blue;
  }
  
  &:hover {
    color: $dark_brown;
    /*font-weight: 400;*/
    text-shadow: 2px 2px 2px #FFF, 0px 0px 1em #FFF;    
  }
  &:hover A {
    color: rgb(9, 84, 141);
    /*font-weight: 400;*/    
  }
}

#footer_link {
  color: white;
  text-decoration: none !important;
  @include transition(text-decoration);
  @include transition(text-shadow);
  @include transition(font-weight);
  
  &:hover {
    text-decoration: underline !important;
    text-shadow: 2px 2px 1px white, 0 0 1em white;  
    font-weight: 700 !important;    
  }
}
