%form{"accept-charset" => "utf-8", :action => "https://www.liqpay.com/api/checkout", :method => "POST", style: 'margin: 25px 0 !important;'}
  %input{:name => "data", :type => "hidden", :value => "eyJ2ZXJzaW9uIjozLCJwdWJsaWNfa2V5IjoiaTM1Mzk1NTcxNDk3IiwiYW1vdW50IjoiMTUwIiwiY3VycmVuY3kiOiJVU0QiLCJkZXNjcmlwdGlvbiI6ItCa0L7QvdGB0YPQu9GM0YLQsNGG0LjRjyDQv9C+INCh0LrQsNC50L/RgyDQvtC90LvQsNC50L0iLCJ0eXBlIjoiYnV5Iiwic2VydmVyX3VybCI6Imh0dHA6Ly9wc3lzaXRlLmhlcm9rdWFwcC5jb20iLCJsYW5ndWFnZSI6InJ1IiwicGF5X3dheSI6ImNhcmQsbGlxcGF5LGRlbGF5ZWQsaW52b2ljZSxwcml2YXQyNCJ9"}/
  %input{:name => "signature", :type => "hidden", :value => "vLifVjuaajP1D7chrmokzkoTFdI="}/
  %input{:name => "btn_text", :type => "image", value: 'С карточки зарубежного банка', class: ' btn-success ' ' btn ' ' btn-large ' ' my-btn ' ' my-btn-large ', style: 'max-width: 300px;'}/
