%ul#author
  %li
    %u
      %b Автор сайта (design by):
  %li
    vitalina.liane@gmail.com
  /%li
  /  %a{href: '#', title: 'Посмотреть на работы автора'}
  /    http://here.im/

%a{href: 'https://plus.google.com/100311678738539067775?rel=author'}
  Google