#bread{'xmlns:v' => 'http://rdf.data-vocabulary.org/#'}
  %span{typeof: 'v:Breadcrumb'}
    %a{href: 'http://happy-vita.com/', property: 'v:title', rel: 'v:url'} Психолог по Skype и E-mail
    ›

  %span{typeof: 'v:Breadcrumb'}
    %a{href: 'http://happy-vita.com/life', property: 'v:title', rel: 'v:url'} Личная жизнь
    ›

  %span{typeof: 'v:Breadcrumb'}
    %a{href: 'http://happy-vita.com/creation', property: 'v:title', rel: 'v:url'} Стать более продуктивным в творчестве и деятельности
    ›

  %span{typeof: 'v:Breadcrumb'}
    %a{href: 'http://happy-vita.com/habit', property: 'v:title', rel: 'v:url'} Избавиться от нежелательных привычек
    ›
