#bread{'xmlns:v' => 'http://rdf.data-vocabulary.org/#'}
  %span{typeof: 'v:Breadcrumb'}
    %a{href: 'http://psysite.herokuapp.com.com/', property: 'v:title', rel: 'v:url'} Психолог по Skype и E-mail
    ›
