%div{itemscope: '', itemtype: 'http://schema.org/ImageObject'}
  %div{itemprop: 'name'}
    %strong Умиротворение
  %span{itemprop: 'alternativeHeadline'}
    %em Комфорт
  = image_tag 'fond/forest_min.jpg', itemprop: 'contentURL', width: '200px', height: '96px', alt: 'Превью фона сайта - умиротворяющего леса'
  %meta{content: 'true', itemprop: 'isFamilyFriendly'}/

  %div{itemprop: 'keywords'}
    %u
      %em Умиротворение, ощущение равновесия, психолог, внутренняя гармония, комфорт, удовольствие, советы психолога, консультация,онлайн, семейный психолог, практический психолог, практичного, сайт, скайп, видеочат, видео чат
  %div{itemprop: 'description'}
    %b
      Пейзаж создает ощущение комфорта, тепла, покоя, равновесия и внутренней гармонии, к которым приходит клиент в результате общения с психологом
  %span{itemprop: 'about'}
    %b
      Чувство тепла
-# END_forest_min


%div{itemscope: '', itemtype: 'http://schema.org/ImageObject'}
  %div{itemprop: 'name'}
    %strong Психолог
  %span{itemprop: 'alternativeHeadline'}
    %em Доброжелательность
  = image_tag 'fond/psychologist_min.jpg', itemprop: 'contentURL', width: '120px', height: '136px', alt: 'Превью фото психолога'
  %meta{content: 'true', itemprop: 'isFamilyFriendly'}/

  %div{itemprop: 'keywords'}
    %u
      %em Почувствовать доброжелательность, отношения, эмоции, тепло, расположение, психолог, принятие, радость, психолог практик, помощь, профессиональный, нужен психолог, летом, хороший, рекомендации
  %div{itemprop: 'description'}
    %b
      Образ человека позволяет клиенту почувствовать доброжелательное к нему отношение, эмоциональное тепло, безопасность, расположение и принятие
  %span{itemprop: 'about'}
    %b
      Ощущение радости
-# END_sit_min