- @title='Почувствовать счастье'
- @keys='Умиротворение, доброжелательность, подавленность, психология, жить, покое, чувство пустоты, психолог, хочется любви, тепла, сигарета, утешение, полнота, энергия'
- @descr_head='Боль одиночества, внутренней пустоты и обиды мешает работать, верить в счастье, требует утешения едой, сигаретой. И хочется быть любимым, любить'

- @descr_body='Чувство подавленности, дискомфорта, заторможенности, пустоты, неудовлетворенности от пустых взаимоотношений. Хочется радости, безопасности, тепла'
- @h1='Психолог по Skype и E-mail - Хочется почувствовать радость, любовь, доброжелательность, тепло, стать счастливым'


#block
  = render partial: 'layouts/menu_up'
  #about
  %h3
    Контактные данные: 
  %br/
  %p
    E-mail:
    %b
      bereg.beseda@ukr.net 
    (Татьяна)
  %p
    Skype:
    %b
      Bereg.Beseda
    
    
  %form#payment{action: "https://sci.interkassa.com/", enctype: "utf-8", method: "post", name: "payment"}
    %input{name: "ik_co_id", type: "hidden", value: "52ebcda5bf4efcf93108363c"}/
    %input{name: "ik_pm_no", type: "hidden", value: "ID_4233"}/
    %input{name: "ik_am", type: "hidden", value: "100.00"}/
    %input{name: "ik_cur", type: "hidden", value: "UAH"}/
    %input{name: "ik_desc", type: "hidden", value: "Event Description"}/
    %input{name: "ik_suc_u", type: "hidden", value: "http://psysite.herokuapp.com/pers"}/
    %input{name: "ik_suc_m", type: "hidden", value: "get"}/
    %input{name: "ik_exp", type: "hidden", value: "2014-02-05"}/
    %input{type: "submit", value: "Pay"}/
