!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Меня зовут #{@client.name}
    %p
      Мой E-mail
      %b
        = @client.address
    %p
      Мой Skype
      %b
        = @client.message
