@media (max-width: 479px) {
  #psychologist1 {
    padding-top: 35px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  #psychologist1 {
    padding-top: 40px;
  }
}

@media (max-width: 798px) {
  #button_and_menu{
    margin-left: 44px;
  }

  #main_block {
    margin-left: 0;
  }

  #psychologist {
    position: static;
    margin: -10% 0 -10% 7%;
  }
  
  .menu_back_to_posts_or_products {
    margin-left: -40%;
  }

  .block {
    margin-left: 15px !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 20px !important;
  }

  #button {
    padding-right: 40px;
  }

  .label_words {
    text-align: center !important;
  }

  .span6 {
    margin-top: 0;

    INPUT{
      text-align: center;
    }
  }

  .my-input-xlarge {
    margin-left: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #psychologist1 {
    padding-top: 50px;
  }
}

@media (max-width: 1278px) {
  #button {
    margin-left: 2%;    
    padding-left: 10px;
  }
}

@media (min-width: 980px) and (max-width: 1279px) {
  #psychologist1 {
    padding-top: 60px;
  }
}

@media (max-width: 1500px) {
  #main_block{
    margin-top: 10%;
    padding: 25px;
  }
  .menu_up UL {
    padding-left: 25px;
  }
  .block_with_menu_up {
    min-weight: 300px;
  }
}

@media (min-width: 1280px) {
  #psychologist1 {
    padding-top: 65px;
  }
}

@media (min-width: 1500px) {
  #main_block{
    margin-top: 20%;
  }
}


