@media (max-width: 479px) {
  #psychologist1 {
    padding-top: 35px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  #psychologist1 {
    padding-top: 40px;
  }
}

@media (max-width: 798px) {
#psychologist_scroll {
    max-width: 70%;
  }    
  #button_and_menu{
    margin-left: 44px;
    width: 100%;
  }

  #main_block {
    margin-left: 0;
  }

  #psychologist {
    position: static;
    margin: -10% 0 -7% 7%;
  }
  
  .menu_back_to_posts_or_products {
    margin-left: -40%;
  }

  .block {
    margin-left: 15px !important;
    margin-right: 0 !important;
    padding-left: 33px !important;
    padding-right: 20px !important;
  }

  #button {
    padding-right: 40px;
  }

  .label_words {
    text-align: center !important;
  }

  .span6 {
    margin-top: 0;

    INPUT{
      text-align: center;
    }
  }

  .my-input-xlarge {
    margin-left: 20px !important;
  }
}

@media (max-width: 800px) {
  #psychologist_scroll {
    margin-top: -5%;
  }
  .block {
    margin-top: 0 !important;
  }  
}

@media (min-width: 768px) and (max-width: 979px) {
  #psychologist1 {
    padding-top: 50px;
  }
}

@media (max-width: 1278px) {
  #button {
    margin-left: 2%;    
    padding-left: 10px;
  }
  .block_with_menu_up {
    width: 70%;
  }
}


@media (min-width: 950px) and (max-width: 1099px) {
  #psychologist1 {
    margin-left: 10%;
  }
}


@media (min-width: 1100px) and (max-width: 1250px) {
  #psychologist1 {
    margin-left: 15%;
  }
}


@media (min-width: 980px) and (max-width: 1279px) {
  #psychologist1 {
    padding-top: 60px;
  }
}


@media (min-width: 770px) and (max-width: 799px) {
  #psychologist {
    margin-left: 0%; /*--------------------------------*/
  }
}

@media (min-width: 800px) and (max-width: 1250px) {
  #psychologist {
    margin-left: 0%;
  }
}



@media (max-width: 1500px) {
  #main_block {
    margin-top: 2%;
    padding: 25px;
  }
  .menu_up UL {
    padding-left: 25px;
  }
  .block_with_menu_up {
    min-wedth: 300px;
  }
}

@media (min-width: 1280px) {
  #psychologist1 {
    padding-top: 65px;
  }
  .menu1_2_n_up {
    display: none;
  }  
  .form_pay_block {
    margin-top: 15% !important;
  }
}

@media (min-width: 1500px) {
  #main_block{
    margin-top: 20%;
  }
  #list_name{
    color: $dark_brown_like_black;
  }    
  #block {
    max-width: 950px;
  }
  .block {
    max-width: 950px;
    margin-left: 13% !important;
  }
  .main_menus_block_text_padding {
    padding: 30px 55px 30px !important;
  }
  .block_text_padding {
    padding: 45px 55px 50px !important;
  }  
  .form_pay_block {
    padding-top: 30px !important;
  }
  .with_footer_block {
    font-weight: 600;
    max-width: 950px;
    margin-left: 13% !important;    
  }  
  BODY {
    line-height: 1.5;
  }  
}



/*@media (min-width: 1023px) and (max-width: 1200px) and (min-height: 599px) and (max-height: 760px) {*/
@media (min-width: 1023px) and (max-width: 1200px) and (min-height: 599px) and (max-height: 760px) {
  #psychologist {
    margin-top: 8%;
  }  
  #main_block {
    margin-top: -3%;
  }
}

/*@media (min-width: 1023px) and (max-width: 1200px) and (min-height: 761px) and (max-height: 780px) {*/
@media (min-width: 1023px) and (max-width: 1200px) and (min-height: 761px) and (max-height: 780px) {
  #psychologist {
    margin-top: 23%;
    margin-left: 3%;
  }  
  #main_block {
    margin-top: 20%;
  }
}

/*@media (min-width: 1201px) and (max-width: 1330px) and (min-height: 762px) and (max-height: 801px) {*/
@media (min-width: 1201px) and (max-width: 1330px) and (min-height: 762px) and (max-height: 801px) {
  #psychologist {
    margin-top: 20%;
  }  
  #main_block {
    margin-top: 20%;
  }
}

/*@media (min-width: 1331px) and (max-width: 1400px) and (min-height: 763px) and (max-height: 850px) {*/
@media (min-width: 1331px) and (max-width: 1400px) and (min-height: 763px) and (max-height: 850px) {
  #psychologist {
    margin-top: 15%;
  }  
}

/*@media (min-width: 1401px) and (max-width: 1520px) and (min-height: 851px) and (max-height: 980px) {*/
@media (min-width: 1401px) and (max-width: 1520px) and (min-height: 851px) and (max-height: 980px) {
  #psychologist {
    margin-top: 20%;
  }  
  #main_block {
    margin-top: 25%;
  }
}

/*@media (min-width: 1521px) and (max-width: 1620px) and (min-height: 851px) and (max-height: 980px) {*/
@media (min-width: 1521px) and (max-width: 1620px) and (min-height: 851px) and (max-height: 980px) {
  #psychologist {
    margin-top: 14%;
  }  
}

/*@media (min-width: 1621px) and (max-width: 1750px) and (min-height: 981px) and (max-height: 1100px) {*/
@media (min-width: 1621px) and (max-width: 1750px) and (min-height: 981px) and (max-height: 1100px) {
  #psychologist {
    margin-top: 18%;
  }  
  #main_block {
    margin-top: 25%;
  }
}

/*@media (min-width: 1751px) and (max-width: 2000px) and (min-height: 1101px) and (max-height: 1100px) {*/
@media (min-width: 1751px) and (max-width: 2000px) and (min-height: 1101px) and (max-height: 1100px) {
  #psychologist {
    margin-top: 12%;
  }  
}



/*
@media (width: 1024px) and (height: 600px) {
  #psychologist {
    margin-top: 8%;
  }  
  #main_block {
    margin-top: -3%;
  }
}

@media (width: 1024px) and (height: 768px) {
  #psychologist {
    margin-top: 23%;
    margin-left: 3%;
  }  
  #main_block {
    margin-top: 20%;
  }
}

@media (width: 1280px) and (height: 800px) {
  #psychologist {
    margin-top: 20%;
  }  
  #main_block {
    margin-top: 20%;
  }
}

@media (width: 1366px) and (height: 768px) {
  #psychologist {
    margin-top: 15%;
  }  
}

@media (width: 1440px) and (height: 900px) {
  #psychologist {
    margin-top: 20%;
  }  
  #main_block {
    margin-top: 25%;
  }
}

@media (width: 1600px) and (height: 900px) {
  #psychologist {
    margin-top: 14%;
  }  
}

@media (width: 1680px) and (height: 1050px) {
  #psychologist {
    margin-top: 18%;
  }  
  #main_block {
    margin-top: 25%;
  }
}
*/
