.block.main_menus_block_text_padding.form_pay_block{style: 'padding: 40px; margin: auto; max-width: 500px; margin-top: 5%; '}
  .label_words{style: 'text-align: center !important; color: #175717 !important;'}
    Платеж не был произведен.
  .label_words{style: 'text-align: center !important; color: #175717 !important;'}
    Возможно, произошла ошибка.  
  %br/
  %br/
  
  .label_words{style: 'text-align: center !important; color: #175717 !important;'}
    Попробуйте еще раз 
  .label_words{style: 'text-align: center !important; color: #175717 !important;'}
    или свяжитесь со мной.            
