%section.main
  .wrapper-demo
    #dd.wrapper-dropdown-5
      Администратор
      %ul.dropdown
        %li
          %a{href: "#"}
            %em.icon-user>
            Профиль
        %li
          %a{href: "#"}
            %em.icon-cog>
            Настройки
        %li
          %a{href: "#"}
            %em.icon-remove>
            Выйти