!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .email_fond
      .email
        .email_top_field
          %p
            Доброго времени суток,
            = @news_email.name
            Вы выразили желание получать новости сайта психолога Татьяны Вакульчик на свою почту (например, новые статьи и новости о видеозаписях семинаров)

            Чтобы подтвердить подписку
            = link_to "http://psysite.herokuapp.com/news_emails/confirmation/#{@news_email.akey}/#{@news_email.id}", id: 'email_activation_button' do
              Кликните на эту кнопку
            Желаю эффективного и увлекательного премяприпровождения на сайте. Добро пожаловать

        =render partial: 'layouts/email/email_not_you'

        =render partial: 'layouts/email/email_footer'


