/* white */
$half_white: rgba(255, 255, 255, 0.7);

/* red */
$error_pink: #ef0032;

/* brown */
$email_footer_not-for-you: #793e00;
$dark_brown_70_per: rgb(90, 75, 51);
$light_brown: #653400;
$dark_brown: #3b2000;
$dark_brown_like_black: #1d1000;


/* green */
$background_green: #EBFFCC;
$my_green: #86c81e;
$my_green: #82b413;
$link_green: #487514;
$link_dark_green: #103500;
$green_button_hover_light_text: #8DC58D;

/* blue */
$my_blue_link: #08C;
$blue_link: rgb(139, 206, 254);
$my_blue: #6ceaff;
$blue_plus: rgb(58, 171, 228);
$blue_shadow: rgb(40, 136, 215);
$blue_shadow_dark: rgb(39, 117, 188);
$blue: rgb(0, 115, 177);
$form_text: rgb(16, 42, 101);
/*$light_blue: rgb(62, 127, 176);*/
$light_blue: rgb(9, 84, 141);
$middle_sky_blue: #0088cc;
$middle_sky_blue1: rgb(53, 179, 242);
$dark_blue_spring: #013866;
$dark_blue: rgb(0, 6, 82);










