/* white */
$half_white: rgba(255, 255, 255, 0.7);

/* red */
$error_pink: #ef0041;

/* brown */
$email_footer_not-for-you: #793e00;
$light_brown: #653400;
$dark_brown: #1d1000;

/* green */
$background_green: #EBFFCC;
$my_green: #86c81e;
$link_green: #487514;
$link_dark_green: #223a0c;

/* blue */
$my_blue: #6ceaff;
$blue_plus: rgb(58, 171, 228);
$blue_shadow: rgb(40, 136, 215);
$blue: rgb(0, 115, 177);
$form_text: rgb(16, 42, 101);
$dark_blue: rgb(13, 36, 73);
$form_text_dark: rgb(11, 29, 67);








