#angle {
  position: relative;
  top: 0;
  left: 0;
}

#angle_flip {
  width: 213px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
}

#fond_angle_text {
  background: url(/assets/images/angle/author_rights.png) no-repeat top left;

  width: 205px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
}

