/* from gems */
@import "bootstrap";
@import "bootstrap-responsive";

/* common */
@import "common/colorful_vars";
@import "common/mixins";
@import "common/image_in_input_label";
@import "common/others_styles";

/* HTML, BODY */
HTML, BODY {
  width: auto;
  height: 100%;
  background-color: $background_green;
  color: black;
}

/* styles_for_templates */
@import "styles_for_templates/table_number";

/* with_controller */
@import "with_controller/main_menu";
@import "with_controller/menu_up";

/* without_controller */
@import "without_controller/angle";
@import "without_controller/content";
@import "without_controller/email";
@import "without_controller/fond";
@import "without_controller/footer_rights";
@import "without_controller/form";
@import "without_controller/instruction";
@import "without_controller/bootstrap_adds";

/* controller */
@import "abouts";
@import "mentions";
@import "menus";
@import "news_emails";
@import "payments";
@import "payments";
@import "pers";
@import "pers_gets";
@import "pers_pays";
@import "posts";
@import "posts_comments";
@import "products";
@import "products_comments";
@import "products_gets";
@import "products_pays";
@import "templates";

/* cross_platform */
@import "cross_platform/responsive";





/*
 * background
 * transition
 *
 * size width-height(full, min, 100%)
 * margin, padding
 * position
 * float
 * z-index
 *
 * opacity
 * color
 * text-shadow
 * font
 * text-align
 * line
 *
 */




