
@import "bootstrap";
@import "bootstrap-responsive";

@import "vars";
@import "mixins";

@import "clients/table_number";
@import "clients/selects";

HTML, BODY {
  width: auto;
  height: 100%;
  background-color: $my_green;
}

@import "fond";
@import "content/content";
@import "content/main_menu";
@import "angle";

@import "responsive";

@import "menus";
@import "products";
@import "posts";
@import "pers";
@import "abouts";
@import "menu_up";

@import "bootstrap_adds";

@import "clients";

@import "content/form";




/*
 * background
 * transition
 *
 * size width-height(full, min, 100%)
 * margin, padding
 * position
 * float
 * z-index
 *
 * opacity
 * color
 * text-shadow
 * font
 * text-align
 * line
 *
 */



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to index a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
