#mention_word {
  font-size: 170%;
  font-weight: 700;
}

#mention_country_city {
  color: $dark_brown;
  font-size: 150%;
  font-weight: 700;
  margin-top: 5px;
}

#mention_contacts {
  font-size: 130%;
}