.underline {
  text-decoration: underline !important;
  &:hover {
    text-decoration: none !important;
  }
}

#menu {
  margin: 17px -17px 17px 17px;
  height: auto;
  line-height: 160%;
  font-size: 110%;
}

.menu_vars {
  width: 33%;
  height: 100%;
  float: left;
  min-width: 10%;
  &:hover P {
    color: $blue;
  }
  A {
    text-decoration: none;
    &:active P {
      color: $dark_blue;
    }
  }
  P {
    width: 80%;
    font-size: 130%;
    color: $dark_blue;
    text-align: center;
    padding: 5px;

    @include background-size;
  }
  IMG {
    width: 90%;
    height: auto;
  }

}

#menu_description {
  P {
    color: black;
    font-size: 160% !important;
    text-align: justify;
    margin-top: 15px;
    /*color: $dark_brown;*/
    /*font-weight: 700;*/
  }
}


