.submit_button_psy {
  width: 98%;
  display: block;
  max-width: 300px;
  min-width: 200px;
  min-height: 45px;
  text-align: center !important;
  font-size: 160%;
  margin: 0 auto;
  font-weight: 600;
} 

.text-field_psy {
  /* 
  font-weight: 400; 
  */
}
