#personality {
  color: $dark_brown;
  font-size: 140% !important;
  text-align: center;
  margin-bottom: 5px;
  padding: 50px;
  padding-top: 25px;
  @include user-select-none;

  IMG {
    width: 44%;
    min-width: 80px;
    min-height: 80px;
    margin: 0 5px 5px 0;
    float: left;
  }
  P::before {
    content: '';
    width: 20px;
    height: 15px;
    float: left;
  }

}


