#link_under_description {
  font-weight: 700;
  letter-spacing: 120%;
  font-size: 170% !important;
  text-shadow: 2px 2px 1px white, 0 0 1em white;
  
  @include transition(color);
  @include transition(text-shadow);
  
  @include transition(color);  
  &:active {
    color: $dark_blue_spring;
  }
  &:focus {
    color: $dark_blue_spring;
  }
}

.list_position {
  margin: 20px auto;
  display: block;
  @include transition(color);
  @include transition(text-shadow);
  
  A {
    text-decoration: none;
    display: block;
    @include transition(color);
    @include transition(text-shadow);
  }
  &:hover A {
    color: $link_green;
    text-decoration: none !important;
  }
  &:active A {
    color: $dark_blue_spring;
    text-shadow: 2px 2px 1px white, 0 0 1em white;   
  }
  &:hover #link_under_description {
    text-shadow: 2px 2px 1px white, 0 0 1em white;
    text-decoration: underline !important;
  }  
  &:active #link_under_description {
    text-shadow: 2px 2px 1px white, 0 0 1em white;
    text-decoration: none !important;
  }    
  &:hover #list_name {
    color: $link_green;
    text-shadow: 2px 2px 1px white, 0 0 1em white;
  }
  &:active #list_name {
    color: $dark_blue_spring;
    text-shadow: 2px 2px 1px white, 0 0 1em white;
  }  
  &:hover #list_description {
    color: $link_green;
    text-shadow: 2px 2px 1px white, 0 0 1em white;    
  }
  &:active #list_description {
    color: $dark_blue_spring;
    text-shadow: 2px 2px 1px white, 0 0 1em white;    
  }  
}

#list_name {
  color: $dark_brown;
  font-size: 160%;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  
  @include transition(color);
  @include transition(text-shadow);
  
  &:hover {
    color: $link_green;
    text-shadow: 2px 2px 1px white, 0 0 1em white;
  }
  &:active {
    color: $dark_blue_spring;
    text-shadow: 2px 2px 1px white, 0 0 1em white;
  }    
}

#list_description {
  color: $dark_brown;
  font-size: 160% !important;
  text-align: center;
  margin-bottom: 5px;
  /*padding: 50px;
  padding-top: 25px;*/
  padding: 0px 35px 10px;
  @include user-select-none;
  /*line-height:105%;*/
  
  @include transition(color);
  @include transition(text-shadow);
  
  P {
    margin-top: 20px;
    font-size: 100%;
    line-height: 120%;
  }
  P::before {
    content: '';
    width: 20px;
    height: 15px;
    float: left;
  }
  LI {
    margin: 15px 0;
  }
  IMG {
    width: 18px;
    height: auto;
    padding-bottom: 2px;
    /*opacity: .9;*/
  }  
}

#list_name::before {
  /*content: '■';*/
  float: left;
}

#list_description::selection {
  color: $dark_blue_spring;
  background-color: $my_green;
}

#list_description::-moz-selection {
  color: $dark_blue_spring;
  background-color: $my_green;
}

#list_date_price {

}

#list_date {
  color: black;
  float: left;
}

#list_price {
  color: $dark_brown;
  font-size: 120%;
}

/* product_full_IMG */
#position_img {
  width: 50%;
  height: auto;
  min-width: 80px;
  min-height: auto;
  margin:  0 5px 5px 0;
  float:left;
  padding: 30px;
  border-radius: 145px 65px 85px 75px / 90px 100px 120px 60px;
  -webkit-border-radius: 145px 65px 85px 75px / 90px 100px 120px 60px;
  -moz-border-radius: 145px 65px 85px 75px / 90px 100px 120px 60px;
  border-top-left-radius: 145px 65px 85px 75px / 90px 100px 120px 60px;
  border-top-right-radius: 145px 65px 85px 75px / 90px 100px 120px 60px;
  border-bottom-left-radius: 145px 65px 85px 75px / 90px 100px 120px 60px;
  border-bottom-right-radius: 145px 65px 85px 75px / 90px 100px 120px 60px;
}

/* product_min_IMG */
#position_img_min {
  width: 20%;
  height: auto;
  min-width: 150px;
  min-height: auto;
  margin:  0 5px 5px 0;
  float:left;
  border-radius: 40px 20px/100px 100px;
  -webkit-border-radius: 40px 20px/100px 100px;
  -moz-border-radius: 40px 20px/100px 100px;
  border-top-left-radius: 40px 20px/100px 100px;
  border-top-right-radius: 40px 20px/100px 100px;
  border-bottom-left-radius: 40px 20px/100px 100px;
  border-bottom-right-radius: 40px 20px/100px 100px;
}


