.list_position {
  A {
    text-decoration: none;
  }
  &:hover A {
    color: $link_green;
  }
  &:active A {
    color: $dark_blue;
  }
}

#link_under_description {
  font-weight: 600;
  letter-spacing: 120%;
  font-size: 140%;
}

#list_name {
  color: $dark_brown;
  font-size: 140%;
  font-weight: 600;
  text-align: justify;
}

#list_description {
  color: black;
  font-size: 140%;
  text-align: justify;
}

#position_img {
  width: 50%;
  height: auto;
  min-width: 80px;
  min-height: auto;
  margin:  0 5px 5px 0;
  float:left;
}

#position_img_min {
  width: 20%;
  height: auto;
  min-width: 80px;
  min-height: auto;
  margin:  0 5px 5px 0;
  float:left;
}

#separator {
  width: 100%;
  height: auto;
}