#angle{title: 'Адрес автора сайта'}
  #fond_angle_text
  %div
    = image_tag 'angle/angle_flip.png', id: 'angle_flip', alt: 'Копирование контента сайта преследуется по закону <<Об авторском праве>>'

