#footer_rights
  .row-fluid
    .span4
      %p
        Адрес автора сайта/Design by:
        %br/
        vitalina.liane@gmail.com
        %br/
        &#169; 2013-#{Time.now.year}

    .span4
      %p
        Копи&shy;рова&shy;ние кон&shy;тента сайта
        %br/
        пресле&shy;дуется по закону
        %br/
        <<Об автор&shy;ском праве>>

    .span4
      %p
        Все права прина&shy;длежат вла&shy;дельцу сайта - психологу
        = link_to bios_path, id: 'footer_link' do
          Татьяне Вакульчик
