#footer_rights
  .row-fluid

    .span4
      .unselected
        Все права прина&shy;длежат 
        %br/
        вла&shy;дельцу сайта - 
        %br/
        психологу
        %br/
      = link_to abouts_path, id: 'footer_link' do
        Татьяне Вакульчик
      %br/

    .span4.unselected
      %p
        Копи&shy;рова&shy;ние кон&shy;тента сайта
        %br/
        пресле&shy;дуется по закону
        %br/
        <<Об автор&shy;ском праве>>          
        %br/
        %br/
        &#169; 2013-#{Time.now.year}
        %br/        
          
    .span4
      %p
        Адрес автора сайта/
        %br/
        Design and created by:
        %br/
        vitalina.liane@gmail.com
        %br/
          
