%meta{content: 'vitalina.liane@gmail.com', name: 'author'}/
%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{content: 'all', name: 'robots'}/
%meta{content: 'index, follow', name: 'robots'}/
%meta{content: @descr_head, name: 'description'}/
%meta{content: 'becf6957ba9d4519dcc2633c24ec215a', name: 'interkassa-verification'}/
<meta name="interkassa-verification" content="becf6957ba9d4519dcc2633c24ec215a" />
%meta{content: @keys, name: 'keywords'}/
%meta{content: 'vitalina.liane@gmail.com', name: 'author'}/

= csrf_meta_tags
= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag 'application'

/[if IE]
  %script{type: 'text/javascript', src: 'html5'}
  :css
    #main_block {
      padding-bottom: 20px;
    }
-#/[if lt IE 9]
  :css
    #block {
      background: #ffe190;
    }



%title
  ■ Психолог по Skype и E-mail -
  - if @title
    = @title
  - else
    Хочу счастья

