%link{rel: 'prerender', href: "#{@prerender}"}/

%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/forest/forest_original-ca22fbbe4c5a8a9286b7a259c1e8f58d.jpg"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/forest/forest_blur85-1b56581eb5aa9408d3eb51c20db1a9fb.jpg"}/

%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/psychologist-7f560381d2eeb5504262b2072f2a2a16.png"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/bred-2b732c10fb0766b280760182ab107397.png"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/bred50-f3b74b0e0a170b1e39801e760f60e388.png"}/

-#%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/form/form_security-85adbcb1f7a3f1de1ca10a8c446614b9.png"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/fond/forest_min-742d8fc1d555c2aa52c81cd16043693b.jpg"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/fond/psychologist_min-479b6afc0d0b38aa232e769a8bc9dc0a.jpg"}/



