%link{rel: 'prerender', href: "#{@prerender}"}/

%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/forest/forest_blur-f11e41f69261d3bacc9644eb14c98f9b.jpg"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/psychologist-cad2f15084f91b3f9e2ac619d8df85b5.png"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/bred-6a6f9b696d81252e8c7b914854e0851d.png"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/form/form_security-85adbcb1f7a3f1de1ca10a8c446614b9.png"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/fond/forest_min-742d8fc1d555c2aa52c81cd16043693b.jpg"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/fond/psychologist_min-479b6afc0d0b38aa232e769a8bc9dc0a.jpg"}/
%link{rel: 'prefetch', href: "http://www.psysite.herokuapp.com/assets/forest/forest_original-7297c4637974d345a086d59cedf8604c.jpg"}/


